
    <div class="container">
        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
            <label>Genres </label>
            <select class="form-control form-control-lg" id="idGenre" name="idGenre" [(ngModel)]="idGenre"
                (change)="onChange()">
        
                <option *ngFor="let genre of Genres" value="{{genre.idGenre}}">
                    {{genre.nomGenre}}
                </option>
            </select>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th><th>Nom</th><th>Prix</th><th>date de creation</th><th>Genre</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let evenement of evenements">
                        <td>{{evenement.idEvenement}}</td>
                        <td>{{evenement.nomEvenement}}</td>
                        <td>{{evenement.prixEvenement}}</td>
                        <td>{{ evenement?.dateCreation | date:'dd/MM/yyyy' }}</td>
                        <td>{{evenement.genre.nomGenre}}</td>
                        <td><a class="btn btn-danger" (click)="SupprimerEvenement(evenement)">Supprimer</a></td>
                        <td><a class="btn btn-success"[routerLink]="['/updateEvenement',evenement.idEvenement]">modifier</a></td>
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
