<table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Date evenement</th>
        <th>Genre</th> <!-- Genre column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evenement of evenements">
        <td>{{evenement.idEvenement}}</td>
        <td>{{evenement.nomEvenement}}</td>
        <td>{{evenement.prixEvenement}}</td>
        <td>{{evenement.dateCreation | date:'dd/MM/yyyy'}}</td> <!-- Date formatted -->
        <td>{{evenement.genre.nomGenre}}</td> <!-- Genre name -->
        <td>
          <a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerEvenement(evenement)">
            Supprimer
          </a>
        </td>
        <td>
          <a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateEvenement', evenement.idEvenement]">
            Modifier
          </a>
        </td>
        

          
      </tr>
    </tbody>
  </table>
  