<div class="container">
    <form class="form-inline">
      <div class="form-group mx-sm-3 mb-2 mt-2">
        <label>Nom Événement en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" (keyup)="onKeyUp(searchTerm)" class="form-control">
      </div>
    </form>
  
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Prix</th>
              <th>Date Création</th>
              <th>Catégorie</th>
            </tr>
          </thead>
          <tbody *ngFor="let evenement of evenements | searchFilter:searchTerm">
            <tr>
              <td>{{ evenement.idEvenement }}</td>
              <td>{{ evenement.nomEvenement }}</td>
              <td>{{ evenement.prixEvenement }}</td>
              <td>{{ evenement.dateCreation | date: 'dd/MM/yyyy' }}</td>
              <td>{{ evenement.categorie?.nomCat }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  