<div class="container">
  <div>
    <h2>Modifier evenement</h2>
  </div>
  <form (ngSubmit)="updateEvenement()">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label for="idEvenement">Id evenement</label>
      <input
        type="text"
        id="idEvenement"
        [(ngModel)]="currentEvenement.idEvenement"
        name="idEvenement"
        class="form-control"
        readonly
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="nomEvenement">Nom evenement</label>
      <input
        type="text"
        id="nomEvenement"
        [(ngModel)]="currentEvenement.nomEvenement"
        name="nomEvenement"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label for="prixEvenement">Prix evenement</label>
      <input
        type="number"
        id="prixEvenement"
        [(ngModel)]="currentEvenement.prixEvenement"
        name="prixEvenement"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="dateCreation">Date de creation</label>
      <input
        type="date"
        id="dateCreation"
        [ngModel]="currentEvenement.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentEvenement.dateCreation = $event"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label for="idGenre">Genre</label>
      <select
        class="form-control form-control-lg"
        id="idGenre"
        name="idGenre"
        [(ngModel)]="updateGenreId"
      >
        <option *ngFor="let gen of genres" [value]="gen.idGenre">
          {{ gen.nomGenre }}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-success">Modifier</button>
    </div>
  </form>
</div>
