<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mes événements</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <!-- Home link, always visible -->
        <li class="nav-item active">
          <a class="nav-link" routerLink="/evenements">Accueil</a>
        </li>

        <!-- Recherche par Genre, always visible -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/rechercheParGenre">Recherche par Genre</a>
        </li>

        <!-- Recherche par Nom, always visible -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/rechercheParNom">Recherche par Nom</a>
        </li>

        <!-- Login link, only visible if not logged in -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
