<form [formGroup]="evenementForm">
  <!-- Nom Evenement -->
  <div class="form-group col-sm-4">
    <label>Nom de l'événement :</label>
    <input type="text" class="form-control" formControlName="nomEvenement" />
    <span
      *ngIf="evenementForm.controls['nomEvenement'].hasError('required') && evenementForm.controls['nomEvenement'].touched"
      class="text-danger"
    >
      Nom de l'événement est obligatoire
    </span>
    <span
      *ngIf="evenementForm.controls['nomEvenement'].hasError('minlength') && evenementForm.controls['nomEvenement'].touched"
      class="text-danger"
    >
      Nom de l'événement doit avoir au moins 3 caractères
    </span>
  </div>

  <!-- Prix -->
  <div class="form-group col-sm-4">
    <label>Prix :</label>
    <input type="number" class="form-control" formControlName="prixEvenement" />
    <span
      *ngIf="evenementForm.controls['prixEvenement'].hasError('required') && evenementForm.controls['prixEvenement'].touched"
      class="text-danger"
    >
      Le prix est obligatoire
    </span>
  </div>

  <!-- Date -->
  <div class="form-group col-sm-4">
    <label>Date de création :</label>
    <input type="date" class="form-control" formControlName="dateCreation" />
    <span
      *ngIf="evenementForm.controls['dateCreation'].hasError('required') && evenementForm.controls['dateCreation'].touched"
      class="text-danger"
    >
      La date est obligatoire
    </span>
  </div>

  <!-- Genre -->
  <div class="col-sm-4 col-md-4 col-lg-4">
    <label>Genre :</label>
    <select id="idGenre" name="idGenre" class="form-control form-control-lg" formControlName="nomGenre">
      <option *ngFor="let gen of genres" [value]="gen.idGenre">{{ gen.nomGenre }}</option>
    </select>
    <span
      *ngIf="evenementForm.controls['nomGenre'].hasError('required') && evenementForm.controls['nomGenre'].touched"
      class="text-danger"
    >
      Genre est obligatoire
    </span>
  </div>

  <!-- Submit Button -->
  <div class="mt-2">
    <button type="submit" [disabled]="evenementForm.invalid" class="btn btn-success" (click)="addEvenement()">
      Ajouter
    </button>
  </div>
</form>
